#name{
	margin-top: 3%;
}

.toppic{
	border:1px solid #cccccc;
	width: 30%;
	margin-top: 1%;
	margin-bottom: 2%;
}

.btn{
	background-color:pink;
}

.btn:hover{
	opacity: 0.8;
}

.submit{
	margin-left: 40%;
}

.hidden{
	margin-top: 2%;
	margin-left: 10%;
}